*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: #081b29;
  color: white;
}

.home{
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content h3{
  font-size: 32px;
  margin-bottom: 10px;
}

.home-content h1{
  font-size: 70px;
  margin-bottom: 10px;
}

.multiple-text{
  color: #00e5ff;
}

.home-content p{
  margin-top: 15px;
  max-width: 600px;
  line-height: 1.8;
}

.buttons{
  margin-top: 30px;
}

button{
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  background: #00e5ff;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  font-weight: bold;
}

.contact-btn{
  background: transparent;
  border: 2px solid #00e5ff;
  color: #00e5ff;
}