*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background: #f4f4f4;
  color: #333;
}

/* Navbar */

header{
  background: white;
  padding: 15px 50px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a{
  text-decoration: none;
  color: black;
}

/* Hero */

.hero{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.hero p{
  margin-bottom: 20px;
}

button{
  padding: 12px 25px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* Sections */

section{
  padding: 70px 50px;
}

h2{
  margin-bottom: 20px;
}

/* Skills */

.skill-box{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skill-box span{
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Projects */

.project-card{
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Footer */

footer{
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
}